version: "3"

services:
  tiddi:
    image: ghcr.io/kunalsin9h/tiddi-container:latest
    ports:
      - "5656:5656"
    deploy:
      mode: replicated
      replicas: 1
    environment:
      PORT: 5656
      DB: ./database/dev.db
      HOST: http://localhost:5656
    volumes:
      - /home/kunal/mounts/:/tiddi/database/dev.db

