version: "3"

services:
  tiddi:
    image: ghcr.io/kunalsin9h/tiddi-container:latest
    ports:
      - "5656:5656"
    deploy:
      mode: replicated
      replicas: 1
    env_file:
      - ~/secrets/tiddi
